body {
    font-family: "Segoe UI", sans-serif;
    background: #f5f7fa;
    color: #2c2c2c;
    overflow-x: hidden;
}

.br__sp {
    display: none;
}

@media screen and (max-width: 768px) {
    .br__sp {
        display: block;
    }
}

.firstView__container {
    background: linear-gradient(180deg, #c2bdb6, #f5f7fa);
    height: 90vh;
    padding: 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstView__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    background: linear-gradient(85deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    animation: shine 5s infinite;
}

@keyframes shine {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.firstView__box {
    display: flex;
    color: #2c2c2c;
    font-size: 28px;
    font-weight: 600;
    margin: 0 auto;
}

.site-name {
    font-size: 46px;
    color: #3498db;
    text-shadow: -3px 3px 2px rgba(255, 255, 255, 0.5);

}

.site-slogan {
    display: inline-block;
    font-size: 20px;
    color: #225d85;
    font-weight: bold;
    position: relative;
    opacity: 0;
    animation: fadeInShine 3s ease-in-out forwards;
    animation-delay: 1s;
    overflow: hidden;
    text-shadow: -3px 3px 2px rgba(255, 255, 255, 0.5);
}

.site-slogan::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    transform: skewX(-20deg);
    animation: shineEffect 3s ease-in-out forwards;
    animation-delay: 1.5s;
}

@keyframes fadeInShine {
    to {
        opacity: 1;
    }
}

@keyframes shineEffect {
    to {
        left: 125%;
    }
}

.jump-emoji {
    display: inline-block;
    animation: jump 1.5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    transform-origin: 70% 70%;
    font-size: 30px;
    color: #225d85;
    position: relative;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0);
    }
}

.shadow-circle {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 15px;
    height: 2px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    animation: shadowScale 1.5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes shadowScale {

    0%,
    100% {
        transform: scale(0.4);
        opacity: 0;
    }

    75% {
        transform: scale(1, 0.9);
        opacity: 0.75;
    }
}

.scroll-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scroll-indicator span {
    font-size: 45px;
    margin-top: -1.5rem;
    animation: jumpArrow 1.5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes jumpArrow {
    0% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(3px);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.header {
    height: auto;
    background-color: #225d85;
}

.navbar__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 999;
}

.navbar .email {
    font-size: 20px;
    font-weight: 600;
}

#footer {
    margin-top: 50px;
    font-size: 0.8rem;
    text-align: center;
    color: #999;
    display: fixed;
    bottom: 0;
    height: 100px;
}